{% load staticfiles %}
<head>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/reads.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Runner Reads</h1>
            <h3>Top products recommended for runners by runners across the Internet</h3>
        </div>
        <div class="row">
            <hr class="curved"/>
        </div>
        <div class="row top20">
            <div class="col-md-1">
                <a href="{{ book.link }}"><img src="{{ book.small_image }}"/></a>
            </div>
            <div class="col-md-11">
                <h4 class="title"><a href="{{ book.link }}">{{ book.title }}</a></h4>
            </div>
        </div>
        {% for comment in book.comments.all %}
        <div class="row callout callout-info">
            <div class="row top20">
                <div class="col-md-2">
                    Upvotes: {{ comment.score }}
                </div>
                <div class="col-md-10">
                    {{ comment.text }}
                </div>
            </div>
            <div class="row top20">
                <div class="col-md-10">
                    <a href="{{ comment.link }}">source</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>