{% load staticfiles %}
<head>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/reads.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
        <h1>Runner Reads</h1>
        <h3>Top products recommended for runners by runners across the Internet</h3>
    </div>
    <div class="row">
        <hr class="curved"/>
    </div>
        {% if latest_book_list %}
        <div class="row">
        {% for book in latest_book_list %}
            <div class="col-md-2"><img src="{{ book.medium_image }}"/></div>
            <div class="col-md-8"><h3 class="title"><a href="{{ book.link }}">{{ book.title }}</a></h3></div>
            <!-- <li><a href="{% url 'reads:detail' book.id %}">{{ book.title }}</a></li> -->
        {% endfor %}
        </div>
        {% else %}
        <div><p>No books are available.</p></div>
        {% endif %}
    </div>
</body>
