.container {
    width: 80%
}

body {
    font-family: 'Rubik', sans-serif;
}

.top20 {
    margin-top: 20px;
}

hr {
    margin-bottom: -10px;
}

hr.curved {
    height: 30px; 
    border-style: solid; 
    border-color: #8c8b8b; 
    border-width: 1px 0 0 0; 
    border-radius: 20px; 
}
hr.curved:before {
    display: block; 
    content: ""; 
    height: 30px; 
    margin-top: -31px; 
    border-style: solid; 
    border-color: #8c8b8b; 
    border-width: 0 0 1px 0; 
    border-radius: 20px; 
}